@font-face {
  font-family: 'Baybayin';
  src: url('../../assets/fonts/baybayin/TagDoc93.ttf') format('truetype');
}

@font-face {
  font-family: 'Deseret';
  src: url('../../assets/fonts/deseret/deseret_.ttf') format('truetype');
}

@font-face {
  font-family: 'Aurebesh';
  src: url('../../assets/fonts/aurebesh/AurebeshBold-Rw1l.ttf') format('truetype');
}

.transliteration-output {
  font-family: 'CustomFont', sans-serif;
}

.transliteration-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.transliteration-textarea, 
.transliteration-output {
  font-size: 20px;
  border: 1px solid grey;    
  width: 40%;
  box-sizing: border-box;
  min-height: 100px;
  background-color: #f9f9f9;
  font-family: 'Courier New', Courier, monospace;
}

.transliteration-output:empty::before {
  content: "Transliterated text...";
  font-family: 'Courier New', Courier, monospace;
  color: gray;
}

.baybayin-font {
  font-family: 'Baybayin', sans-serif;
}

.aurebesh-font {
  font-family: 'Aurebesh', sans-serif;
}

.deseret-font {
  font-family: 'Deseret', sans-serif;
}

.dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-box {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.dialog-box button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #336bdb;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.dialog-box button:hover {
  background-color: #274bb5;
}