.transliteration-input {
  font-size: 20px;
  border: 2px solid #000;
  padding-left: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 20px;
  min-height: 100px;
  background-color: #f9f9f9;
}

.dictionary-output {
  margin-top: 20px;
  padding: 10px;
  border-top: 1px solid #ccc;
  font-family: sans-serif;
}

.dictionary-output ul {
  list-style-type: none;
  padding: 0;
}

.dictionary-output li {
  margin: 5px 0;
}
